@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Black Ops One", system-ui;
    text-align: center;
    background-color: lightgray;
}

a {
    display: block;
    margin: 10px;
    padding: 10px;
    background-color: orange;
    color: black;
    text-decoration: none;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

a:hover {
    background-color: darkblue;
}

button {
    padding: 8px;
    margin-top: 10px;
    color: black;
    background-color: white;
    padding: 10px;
    text decoration: none;
    border-radius: 15px;
}

.dark {
    background-color: #222222;
    color: white;
}

.home-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1000; /* stays on top */
}

.home-btn:hover {
    background-color: #555;
}
