@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: "Black Ops One", system-ui;
    text-align: center;
    background-color: lightgray;
}

a {
    display: block;
    margin: 10px;
    padding: 10px;
    background-color: orange;
    color: black;
    text-decoration: none;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

a:hover {
    background-color: darkblue;
}

button {
    padding: 8px;
    margin-top: 10px;
}

/* Dark mode */
.dark {
    background-color: #222222;
    color: white;
}
